header {
  background-color: #28a745;
}

.navbar-brand h1 {
  font-size: 1.8rem;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.nav-link {
  font-size: 1rem;
  font-family: "Arial", sans-serif;
}

.navbar-toggler-icon {
  background-image: url("path/to/your/icon.png");
}
