.cart-page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.cart-page-content {
  flex-grow: 1;
}

.footer {
  background-color: #f8f9fa;
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #ddd;
  margin-top: auto;
}

.container {
  background-color: #f9f9f9;
  padding: 2rem;
}

.table {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table-bordered {
  border: 1px solid #ddd;
}

.cart-item-image {
  width: 100px;
  height: auto;
}

.removing {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
