/* src/components/FooterComponent.css */
.footer {
  background-color: #495057; /* Dark background color */
  color: #ffffff;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.social-links {
  display: flex;
  align-items: center;
}

.social-icon img {
  width: 40px;
  height: 40px;
  border-radius: 90%;
  object-fit: cover;
}

.social-links a {
  color: #ffffff;
}

.social-links a:hover {
  color: #cccccc;
}
